@media only screen and (max-width: 800px) {
    .zone-page h1 {
        font-size: 23px;
    }

    .zone-page h2 {
        font-size: 17px;
    }

    .zone-page h4 {
        font-size: 14px;
    }

    .candidate {
        margin-top: 15px;
    }

    .candidate .avatar {
        max-width: 100px;
        padding: 8px;
    }

    .candidate .details .name {
        font-size: 14px;
    }

    .candidate .number {
        width: 45px;
        height: 45px;
        font-size: 9px;
    }

    .candidate .number div {
        font-size: 28px;
        margin-top: -12px;
    }

    .candidate .details {
        float: left;
        padding-top: 10px;
        width: 45%;
    }

    .candidate .details a.additional-links {
        position: relative;
        font-size: 12px;
        margin-top: 15px;
    }

    ul.menu li.go-back {
        width: 100%;
    }

}