@media only screen and (max-width: 800px) {
    .zone-page h1 {
        font-size: 23px;
    }

    .zone-page h2 {
        font-size: 17px;
    }

    .zone-page h4 {
        font-size: 14px;
    }

    .candidate {
        margin-top: 15px;
    }

    .candidate .avatar {
        max-width: 95px;
        padding: 8px;
    }

    .candidate .details .name {
        font-size: 14px;
        line-height: 16px;
    }

    .candidate .number {
        width: 45px;
        height: 45px;
        font-size: 9px;
    }

    .candidate .number div {
        font-size: 28px;
        margin-top: -5px;
    }

    .candidate .details {
        float: left;
        width: 60%;
        padding-top: 10px;
    }

    .candidate .details h2 {
        margin-bottom: 5px;
    }

    .candidate .additional-details {
        color: #747474;
        font-size: 11px;
        word-wrap: break-word;
    }

    .candidate .details .header {
        width: 70%;
    }

    .candidate .details i {
        font-size: 9px;
    }

    .candidate .header h2 {
        display: block;
        margin-top: 0px;
        margin-bottom: 5px;
        width: 100%;
    }

    .candidate .details a.google-search {
        position: relative;
        font-size: 12px;
        margin-top: 10px;
    }

    .candidate .policy-button {
        font-size: 9px;
        vertical-align: top;
    }

    .back-button {
        font-size: 12px;
    }
}