html, body {
    font-family: 'Noto Sans Thai', serif;
}

a, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

.clear {
    clear: both;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', 'The Matter', serif;
}

h1.title {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
}

.header-img {
    display: block;
    width: 20%;
    margin: auto;
}

.note {
    text-align: center;
}

.form {
    text-align: center;
}

.form .postcode-label {
    font-size: 18px;
    margin-bottom: 20px;
}

.form input {
    padding: 5px;
    font-size: 24px;
    line-height: 23px;
    border: 2px solid #F0324B;
    width: 224px;
    color: #000000;
    font-family: "Libre Baskerville";
    font-size: 24px;
    letter-spacing: 0.05px;
    line-height: 23px;
    text-align: center;
}

.results {
    padding: 0px 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

.result-label {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0px;
}

.zone .header {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.03px;
}

li.sub-area {
    display: inline-block;
}

.zone .area-name {
    margin-right: 5px;
}

.zone .area-name::before {
    content: "●";
    font-weight: bolder;
    font-size: 11px;
    vertical-align: middle;
    margin-right: 5px;
}

.zones .zone {
    padding: 5px 20px;
    width: 100%;
    max-width: 450px;
    border: 1px solid #E1E1E2;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 #C3C3C3;
}

.zones a {
    text-decoration: none;
    color: black;
}

.zones a:visited {
    color: black;
}

.zone-page {
    width: 80%;
    margin: auto;
}

h1.zone-title {
    font-size: 50px;
}

.zone-information span.area:before {
    content: "●";
    margin-right: 5px;
}

.candidate {
    position: relative;
    margin-top: 30px;
    border-top: 2px solid #ddd;
}

.candidate .avatar {
    float: left;
    width: 30%x;
    max-width: 214px;
    margin-top: -2px;
    border-top: 2px solid #ddd;
    padding: 16px;
}

.candidate .details {
    float: left;
    padding: 20px 10px 0px 10px;
    margin-left: 0px;
}

.candidate .details .name {
    font-size: 20px;
}

.candidate .details a.additional-links {
    color: #F0324B;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    padding: 5px;
    position: absolute;
    bottom: 20px;
}

.candidate .number {
    color: white;
    top: 0px;
    background-color: #F0324B;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    right: 0px;
    font-weight: bold;
    width: 97px;
    height: 97px;
}

.candidate .number div {
    font-family: 'The Matter', serif;
    font-weight: 700;
    text-align: center;
    font-size: 60px;
    margin-top: -20px;
}

.note {
    margin: auto;
    margin-top: 50px;
    width: 80%;
    color: #4A4A4A;
    font-size: 12px;
}

.separator {
    margin: 0px 10px;
}

.footer {
    color: #4A4A4A;
    font-size: 12px;
    margin-top: 40px;
    padding: 10px 0px;
    font-family: 'Libre Baskerville', 'The Matter', serif;
    text-align: center;
}

.footer a {
    border-bottom: 1px solid black;
}

.zone-page ul.menu {
    font-size: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-top: 60px;
}

ul.menu li {
    border: 2px solid #F0324B;
    font-weight: bold;
    margin-bottom: 15px;
}

ul.menu li.go-back {
    float: left;
}

ul.menu li.go-back a {
    display: block;
    color: #F0324B;
    padding: 10px;
}

ul.menu li.sharer {
    float: right;
    font-family: sans-serif;
    background: #F0324B;
    font-weight: normal;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    border: 0px;
}

ul.menu li.sharer, ul.menu li.sharer a {
    color: white;
}

li.sharer .labelbox {
    background: #DB253D;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    padding: 0 20px;
}

li.sharer .labelbox i {
    margin-right: 5px;
}

li.sharer .social a {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

li.sharer .social a:after {
    content: "";
    display: inline-block;
    position: relative;
    top: calc(50% - 9px);
    right: -11px;
    background: #fff;
    width: 1px;
    height: 18px;
}