html, body {
    font-family: 'Noto Sans Thai', serif;
}

a, a:hover, a:visited {
    color: black;
    text-decoration: none;
}

.clear {
    clear: both;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', 'The Matter', serif;
}

h1.title {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 30px;
}

.header-img {
    display: block;
    width: 20%;
    margin: auto;
}

.note {
    text-align: center;
}

.form {
    text-align: center;
}

.form .postcode-label {
    font-size: 18px;
    margin-bottom: 5px;
}

.form input {
    padding: 5px;
    font-size: 34px;
    text-align: center;
    width: 180px;
    border: 3px solid;
    font-weight: bold;
    font-family: 'The Matter', serif;
}

.results {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0px;
}


.zone ul {
    text-align: left;
}

.zone .header {
    font-size: 24px; 
    margin-bottom: 5px;
}

.zone .area-name {
    margin-right: 5px;
}

.zones .zone {
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
}

.zones a {
    text-decoration: none;
    color: black;
}

.zones a:visited {
    color: black;
}

.zone-page {
    width: 80%;
    margin: auto;
}

h1.zone-title {
    font-size: 56px;
    margin-bottom: 20px;
}

.candidate {
    position: relative;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
}
.candidate .avatar {
    float: left;
    width: 200px;
}

.candidate .details {
    float: left;
    padding-top: 20px;
    margin-left: 20px;
}

.candidate .details .additional-links a {
    background: #bbb;
    color: white;
    text-decoration: none;
    font-weight: normal;
    display: inline-block;
    padding: 5px;
}

.candidate .number {
    float: right;
    padding-top: 10px;
    position: absolute;
    top: 10px;
    right: 0px;
}

.candidate .number span {
    float : right;
}

.candidate .number div {
    font-family: 'The Matter', serif;
    font-weight: 700;

    text-align: center;
    font-size: 70px;
}

.note {
    margin: auto;
    margin-top: 50px;
    width: 80%;
}

.separator {
    margin: 0px 10px;
}

.footer {
    font-size: 12px;
    margin-top: 40px;
    padding: 10px 0px;
    font-family: 'Libre Baskerville', 'The Matter', serif;
    text-align: center;
}

.footer a {
    border-bottom: 1px solid black;
}